<!-- Wrapper -->
<div id="wrapper">

	<header id="header">
		<div class="inner">

			<!-- Logo -->
			<a href="{{ site.url }}/" class="logo">
				<span class="symbol">
					{% if site.logo %}
					<img src="{{ site.url }}/{{ site.logo }}" alt="{{ site.title }} Logo" />
				</span>
				<div>
					<span class="title-lg">RISE UP</span><br>
					<span class="title-sm">Physical Therapy</span>
				</div>
				{% else %}
			 	<span class="title">{{ site.title }}</span>
				{% endif %}
			</a>
			<!-- Nav -->
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>

		</div>
	</header>

	{% include menu.html %}

	<!-- Main -->
	<div id="main">
		<div class="inner">
